.App {
  text-align: center;
}

.App-card {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-card .p-button {
  margin: 0 5px;
}

.App-card img {
  width: 500px;
  height: 400px;
}
